.container {
    background-color: #F8F9FA;
}

.title {
    text-align: center;
    margin-bottom: -1rem;
}

h1 {
    color: #06D6A0;
    margin-bottom: -1rem;
}

p {
    color: #118AB2;
}

@media(min-width:992px) {
    .cards {
        display: flex;
        align-items: center;
        justify-content: center;
    }

}