.navbar {
    background-color: #06D6A0;
    color: white;
    padding: 1rem;
}

.navbar__title{
    margin: 0 1rem;
}

@media(min-width:768px){
    .navbar {
        display: flex;
        justify-content: space-between;
    }

    .navbar__title {
        margin: 1rem;
    }
}